<%- include("../layout/user/header") -%>

<main class="main">       
    <section class="home-slider position-relative pt-50">
        <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Sales With You</h4>
                                <h2 class="animated fw-900">Valuable Order's...</h2>
                                <h1 class="animated fw-900 text-brand">On all products</h1>
                                <p class="animated">Welcome your Valuable Mindset...</p>
                                <a class="animated btn btn-brush btn-brush-3" href="/products-shop"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-1" src="/public/assetsNew/imgs/shop/mega sale.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Big promotions</h4>
                                <h2 class="animated fw-900">Fruniture Trending</h2>
                                <h1 class="animated fw-900 text-7">Great Collection</h1>
                                <p class="animated">Welcome All to MAHARAJA Fruniture</p>
                                <a class="animated btn btn-brush btn-brush-2" href="/products-shop"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-2" src="/public/assetsNew/imgs/shop/megs sale 2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Upcoming Days...</h4>
                                <h2 class="animated fw-900">Big Deals From</h2>
                                <h1 class="animated fw-900 text-8">MAHARAJA</h1>
                                <p class="animated">Furnishing the wooden Architecture</p>
                                <a class="animated btn btn-brush btn-brush-1" href="/products-shop"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-3" src="/public/assetsNew/imgs/shop/megs sale 3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
    </section>
    
    <section class="product-tabs section-padding position-relative wow fadeIn animated">
        <div class="bg-square"></div>
        <div class="container">
           
            <!--End nav-tabs-->
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/box bed.jpg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">5 x 6 size</a>
                                    </div>
                                    <h2><a href="/products-shop">Box Bed</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/download.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">6 seat</a>
                                    </div>
                                    <h2><a href="/products-shop">Teak Wooden Sofa</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/images2.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">5 Seat</a>
                                    </div>
                                    <h2><a href="/products-shop">Corner sofa</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/table 2.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">Size 4 x 4</a>
                                    </div>
                                    <h2><a href="/products-shop">Daining Table</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/study table.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">Study Table</a>
                                    </div>
                                    <h2><a href="/products-shop">Study Table</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/swing.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">2 Seat</a>
                                    </div>
                                    <h2><a href="/products-shop">Swing Out Chair</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/t poy 3.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">Size 3 x 4</a>
                                    </div>
                                    <h2><a href="/products-shop">Tea Poy</a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/products-shop">
                                            <img class="default-img" src="/public/assetsNew/imgs/shop/3 seat 2.jpeg" alt="">
                                           
                                        </a>
                                    </div>
                                   
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/products-shop">3 Seat</a>
                                    </div>
                                    <h2><a href="/products-shop">Three Seat
                                    </a></h2>
                                    <div class="rating-result" title="90%">
                                        
                                    </div>
                                    <div class="product-price">
                                        <span>$138.85 </span>
                                        
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!--En tab one (Featured)-->
                
                <!--En tab two (Popular)-->
                
                <!--En tab three (New added)-->
            </div>
            <!--End tab-content-->
        </div>
    </section>
    
    <section class="popular-categories section-padding mt-15 mb-25">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                <div class="carausel-6-columns" id="carausel-6-columns">
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/box bed.jpg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Bed</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"> <img src="/public/assetsNew/imgs/shop/images2.jpeg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Sofa</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/light stand.jpeg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Light Stand</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/sofa set 1.jpeg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Sofa</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/t poy 3.jpeg"></a>
                        </figure>
                        <h5><a href="/products-shop">Tea Poy</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/study table.jpeg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Study Table</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/table 2.jpeg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Daining Table</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="/products-shop"><img src="/public/assetsNew/imgs/shop/download.jpeg" alt=""></a>
                        </figure>
                        <h5><a href="/products-shop">Sofa</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
    
    
    
    
    
    
</main>

<%- include("../layout/user/footer") -%>