<%- include("../layout/user/header") -%>


<div class="container order-confirmation-box my-5 py-5">
    <i class="fas fa-check-circle confirmation-icon text-success"></i>
    <div class="confirmation-message mt-4">
        <p class="h3" class="text-success">Thank you for your order!</p>
        <p class="lead">Your order has been successfully placed.</p>
    </div>
    <p class="order-id mt-4">Order ID: <strong>#123456</strong></p>
    <a href="/home" class="btn btn-primary continue-shopping mt-4">Continue Shopping</a>
</div>




<%- include("../layout/user/footer") -%>