<script src="/public/javascript/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/public/javascript/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/public/javascript/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/public/javascript/plugins.js"></script>
<!-- Active js -->
<script src="/public/javascript/active.js"></script>

<script src="/public/javascript/alertsAndUpdates.js"></script>
<!-- add to cart -->
<script src="/public/javascript/addToCart.js"></script>
<!-- resend otp  -->
<script src="/public/javascript/otpTimeout.js"></script>
<!-- sign up  -->
<script src="/public/javascript/signup.js"></script>
<!-- alert delete cart  -->
<script src="/public/javascript/userMain.js"></script>
<!-- validation  -->
<script src="/public/javascript/user-validation.js"></script>
<!-- Product detail page  -->
<script src="/public/javascript/productDetail.js"></script>
<!-- coupon javascript  -->
<script src="/public/javascript/applyCoupon.js"></script>

<!-- sweet alert  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- font font-awesome -->
<script src="https://kit.fontawesome.com/3bd203701d.js" crossorigin="anonymous"></script>
<!-- toaster message js  -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="/public/javascript/vendors/bootstrap.bundle.min.js"></script>



</body>

</html>